<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<script src="/javascripts/jquery-1.11.3.min.js"></script>
</script>
<style>

.ui-dialog-titlebar-close {
  visibility: hidden;
}
.slash {
	 background-image: url(images/slash.png);
	 background-size: 100% 100%;
				}
.backslash {
	 background-image: url(images/backslash.png);
	 background-size: 100% 100%;
				}

.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; background: #E0F2F7; }
.ui-dialog .ui-dialog-buttonpane button  { text-align: center; width:100px; height: 35px; background: #E0F2F7;}


</style>
<meta charset="UTF-8">
<title>4학년 사물함신청 페이지</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


</head>
<body>
	<h1 style="margin-left:35px;">4학년 사물함신청 페이지</h1>
	<script>

	$(function() {
	    $("#link1").click(function(){

				status = $("#dialog1").css("display");
 			if (status == "none") {
	 		$("#dialog1").css("display","");
 		}
 		else {
	 	$("#dialog1").css("display","none");
 	}
	       $("#dialog1").dialog({
					 		sPosition : "center",
	            resizable: true,
	            height: 400,
	            width: 700,

	            modal: true,
							title :"4학년 사물함 신청",
	            buttons: {
	                "닫기": function () {
	                    $(this).dialog("close");
	                }
	            },

   						open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); }

	});
	    });

	  });

		$(function() {
				$("#link2").click(function(){
					status = $("#dialog2").css("display");
				if (status == "none") {
				$("#dialog2").css("display","");
			}
			else {
			$("#dialog2").css("display","none");
			}


					 $("#dialog2").dialog({

								resizable: false,
								height: 450,
								width: 650,
								sPosition: 'center',
								modal: true,
								title :"4학년 사물함 신청",
								buttons: {
										"닫기": function () {
												$(this).dialog("close");
										}
								},

	   						open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); }

		});
				});

			});
	</script>

	<%
	var cabinetSize = cabinet_status.length;
	for(var i =0; i<cabinetSize; i++)
	{
		var cabinetNumber = cabinet_status[i].번호;
		var cabinetState = cabinet_status[i].사용;

		if(cabinetState==0) {
			%>
			<script>

			$(function(){

				var tag = $('#<%=cabinetNumber%>');
				tag.addClass('btn btn-danger');
			}
		);
		</script>
		<%	}
		else{
			%>
			<script>
			$(function(){
				var tag = $('#<%=cabinetNumber%>');
				tag.addClass('btn btn-success');
			}
		);

		</script>
		<% 	}
		if(i==cabinetSize-1){
			var grade = student_infos.grade;
			var id = student_infos.id;
			var name= student_infos.name;
			var cabinet = student_infos.cabinet;
			%>

			<script>

			$(function(){
				$('[name= cabinet]').click(
					function(){

						if($(this).hasClass("btn btn-success"))
						{ var selected = $(this).val();
							var result= confirm(selected+" 신청하시겠습니까?");
							$('[name= apply_cabinet]').val(selected);

							if(result)	  $("#APPLY").submit();
							else return false;
						}
						else {
							alert("이미 신청된 사물함입니다.");
							return false;
						}




						});
					});


			</script>
			<%
		}
	}
	%>


	<script>

	  $(function(){

	$('[name=id]').val('<%=id%>');
	$('[name= name]').val('<%=name%>');
	$('[name= cabinetOld]').val('<%=cabinet%>');
	$('[name= grade]').val('<%=grade%>');
	if("<%=cabinet%>"=="false") $('flag').val('0'); //신규
	else $('[name= flag]').val('1')  //변경

	$('#id').text('<%=id%>');
	$('#grade').text('<%=grade%>');
	$('#name').text('<%=name%>');
	if("<%=cabinet%>"=="false") $('#cabinet').text('없음');
	else $('#cabinet').text('<%=cabinet%>');

	});
	var status=<%=msg%>;

	if(status=='0')
	alert('로그인완료');
	else if(status=='1')
	alert('사물함신청완료');
	else if(status=='5')
	alert('접근가능 시간이 아닙니다.')
	else
	alert('이미 신청되었습니다.');

	</script>

	<form id="APPLY" action="/apply" method="post"/>
	<input type='hidden' name='flag' value='0'/> <!--flag 0: 변경 1: 신청 -->
	<input type='hidden' name='id'  value='0'/>
	<input type='hidden' name='name' value='0'/>
	<input type='hidden' name='grade' value='0'/>
	<input type='hidden' name='cabinetOld' value='0'/>
	<input type='hidden' name='apply_cabinet' value='0' />


	<section>

		<div style="display:none" id="dialog1">
			<br/><br/>
		 <table border="2" style="border-collapse:collapse; border-style:none; margin-left: auto; margin-right: auto;">

			 <tr>
				 <td rowspan="1" colspan="1" class="slash" style="border:1px solid;border-width: 0px 0px 0px 0px"> </td>
				<td rowspan="1" colspan="7"  style="font-size:20px; text-align:center; solid;border-width:2px 0px 0px 0px">윗면</td>
				<td rowspan="1" colspan="1" class="slash" style="border:1px solid;border-width:2px 2px 0px 0px"> </td>
			</tr>

			<tr>
        <td><input type="button" name="cabinet" id="B61" value="B61"/></td>
        <td><input type="button" name="cabinet" id="B62" value="B62"/></td>
        <td><input type="button" name="cabinet" id="B71" value="B71"/></td>
        <td><input type="button" name="cabinet" id="B72" value="B72"/></td>
        <td><input type="button" name="cabinet" id="B81" value="B81"/></td>
        <td><input type="button" name="cabinet" id="B82" value="B82"/></td>
        <td><input type="button" name="cabinet" id="B91" value="B91"/></td>
        <td><input type="button" name="cabinet" id="B92" value="B 92"/></td>
			<td rowspan="4" colspan="3" style="font-size:20px; text-align:center; border:1px solid;border-width:0px 2px 0px 2px">옆면</td>
		</tr>

			<tr>
        <td><input type="button" name="cabinet" id="B63" value="B63"/></td>
        <td><input type="button" name="cabinet" id="B64" value="B64"/></td>
        <td><input type="button" name="cabinet" id="B73" value="B73"/></td>
        <td><input type="button" name="cabinet" id="B74" value="B74"/></td>
        <td><input type="button" name="cabinet" id="B83" value="B83"/></td>
        <td><input type="button" name="cabinet" id="B84" value="B84"/></td>
        <td><input type="button" name="cabinet" id="B93" value="B93"/></td>
        <td><input type="button" name="cabinet" id="B94" value="B 94"/></td>
			</tr>
      <tr>
        <td><input type="button" name="cabinet" id="B65" value="B65"/></td>
        <td><input type="button" name="cabinet" id="B66" value="B66"/></td>
        <td><input type="button" name="cabinet" id="B75" value="B75"/></td>
        <td><input type="button" name="cabinet" id="B76" value="B76"/></td>
        <td><input type="button" name="cabinet" id="B85" value="B85"/></td>
        <td><input type="button" name="cabinet" id="B86" value="B86"/></td>
        <td><input type="button" name="cabinet" id="B95" value="B95"/></td>
        <td><input type="button" name="cabinet" id="B96" value="B 96"/></td>
      </tr>
      <tr>
        <td><input type="button" name="cabinet" id="B67" value="B67"/></td>
        <td><input type="button" name="cabinet" id="B68" value="B68"/></td>
        <td><input type="button" name="cabinet" id="B77" value="B77"/></td>
        <td><input type="button" name="cabinet" id="B78" value="B78"/></td>
        <td><input type="button" name="cabinet" id="B87" value="B87"/></td>
        <td><input type="button" name="cabinet" id="B88" value="B88"/></td>
        <td><input type="button" name="cabinet" id="B97" value="B97"/></td>
        <td><input type="button" name="cabinet" id="B98" value="B 98"/></td>
      </tr>


			<tr>
        <td><input type="button" name="cabinet" id="B69" value="B69"/></td>
        <td><input type="button" name="cabinet" id="B70" value="B70"/></td>
        <td><input type="button" name="cabinet" id="B79" value="B79"/></td>
        <td><input type="button" name="cabinet" id="B80" value="B80"/></td>
        <td><input type="button" name="cabinet" id="B89" value="B89"/></td>
        <td><input type="button" name="cabinet" id="B90" value="B90"/></td>
        <td><input type="button" name="cabinet" id="B99" value="B99"/></td>
        <td><input type="button" name="cabinet" id="B100" value="B100"/></td>
			<td rowspan="1" colspan="3" class="slash" style="border:1px solid;border-width:0px 0px 0px 1px"></td>
		</tr>
				</tr>
			</table>
		</div>

<br/><br/>
		<div id="dialog2" style="display:none">
			<br/><br/><br/>
		 <table border="2" style="border-collapse:collapse; border-style:none; margin-left: auto; margin-right: auto;">

			 <tr>
				<td rowspan="1" colspan="1" class="slash" style="border:1px solid;border-width: 0px 0px 0px 0px"> </td>
			 <td rowspan="1" colspan="3"  style="font-size:20px; text-align:center; border:1px solid;border-width:2px 0px 0px 0px">윗면</td>
			 <td rowspan="1" colspan="1" class="slash" style="border:1px solid;border-width:2px 2px 0px 0px"> </td>
		  </tr>

			 <tr>

         <td><input type="button" name="cabinet" id="D1" value="D 1"/></td>
         <td><input type="button" name="cabinet" id="D2" value="D 2"/></td>
         <td><input type="button" name="cabinet" id="D11" value="D11"/></td>
         <td><input type="button" name="cabinet" id="D12" value="D12"/></td>
				<td rowspan="4" colspan="3" style="font-size:20px; text-align:center; border:1px solid;border-width:0px 2px 0px 2px">옆면</td>
			 	</tr>

			 	<tr>
          <td><input type="button" name="cabinet" id="D3" value="D 3"/></td>
          <td><input type="button" name="cabinet" id="D4" value="D 4"/></td>
          <td><input type="button" name="cabinet" id="D13" value="D13"/></td>
          <td><input type="button" name="cabinet" id="D14" value="D14"/></td>
			 </tr>
       <tr>
          <td><input type="button" name="cabinet" id="D5" value="D 5"/></td>
          <td><input type="button" name="cabinet" id="D6" value="D 6"/></td>
          <td><input type="button" name="cabinet" id="D15" value="D15"/></td>
          <td><input type="button" name="cabinet" id="D16" value="D16"/></td>
      </tr>
      <tr>
        <td><input type="button" name="cabinet" id="D7" value="D 7"/></td>
        <td><input type="button" name="cabinet" id="D8" value="D 8"/></td>
        <td><input type="button" name="cabinet" id="D17" value="D17"/></td>
        <td><input type="button" name="cabinet" id="D18" value="D18"/></td>
     </tr>

			  <tr>
          <td><input type="button" name="cabinet" id="D9" value="D 9"/></td>
          <td><input type="button" name="cabinet" id="D10" value="D10"/></td>
          <td><input type="button" name="cabinet" id="D19" value="D19"/></td>
          <td><input type="button" name="cabinet" id="D20" value="D20"/></td>
				<td rowspan="1" colspan="3" class="slash" style="border:1px solid;border-width:0px 0px 0px 1px"></td>
				<tr>
					<tr></tr>

</table>
</div>

	   <br/><br/><br/><br/>
	   <div class="row">
	   <div style="margin-left:50px"  class="col-md-2 panel panel-info" >
			 <div class="panel panel-info">
	    <div class="panel-heading" style="text-align:center; font-size:15px;">학생 정보</div>

			<div class="panel-body">
	   <font size="3em"> 학번 :  <font id='id'/></font></font><br/><br/>
	   <font size="3em"> 이름 :  <font id='name'/></font></font><br/><br/>
	   <font size="3em"> 학년 :  <font id='grade'></font></font>
	 </div>
 </div>
 		 <div class="panel panel-info">
		 <div class="panel-heading" style="text-align:center; font-size:15px;">학년별 신청구역</div>
		 <div class="panel-body">
			 1학년 신청구역 :  A-3, A-4 <br/>
			 2학년 신청구역 :  A-1, B-1 <br/>
			 3학년 신청구역 :  A-2, C <br/>
			 4학년 신청구역 :  B-2, D <br/>
		 </div>
	 	</div>

		<div class="panel panel-info">
		<div class="panel-heading" style="text-align:center; font-size:15px;">사물함 신청방법</div>
		<div class="panel-body">
			자기 학년에 해당하는 신청구역을 클릭하면
			이미지가 나타납니다.
		</div>
	 </div>


	  </div>

	   <div class="col-md-9">

<div>
	<br/><br/><br/><br/>
	<img src="images/title.png" alt="Title">
	<br/><br/><br/>
<img src="images/stair2.png" alt="stair_left_hidden" style="visibility:hidden;"><img src="images/A-2.png" alt="A-2"><img src="images/B-1.png" alt="B-1"><img src="images/B-2.png" id="link1" alt="B-2"><img src="images/C.png" alt="C"><img src="images/D.png" id="link2" alt="D"><img src="images/A-3.png" alt="A-3"><img src="images/stair.png" alt="stair_top"><img src="images/A-4.png" alt="A-4">
<br/>
<img src="images/stair2.png" alt="stair_left"><img src="images/way.png" alt="way">
<br/>
<img src="images/stair2.png" alt="stair_left_hidden" style="visibility:hidden;" ><img src="images/231.png" alt="231"><img src="images/A-1.png" alt="A-1"><img src="images/232.png" alt="232"><img src="images/toilet.png" alt="toilet">
</div>
</div>
</div>


</section>




	</body>
	</html>
